<div>
	<p><strong>Branch: {{ branch }}</strong></p>
    {% for commit in commits %}
    	<p>Commit ID: <a href="{% url 'commit_details' branch commit.hexsha %}">{{ commit.hexsha }}</a></p>
        <p>Author: {{ commit.author.name }} - Email: <a href="mailto:{{ commit.author.email }}">{{ commit.author.email }}</a></p>
        <p>{{ commit.authored_datetime }}</p>
        <p> - Summary - </p>
        <p><i>{{ commit.summary }}</i></p>
        <p>Count: {{ commit.count }} - Size: {{ commit.size }}</p>
    {% endfor %}
</div>