.cardCommit__header {
  border: solid 1px #a1a1a1;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.cardCommit__header p,
.cardCommit__header h2 {
  margin-bottom: 10px;
}

.cardcommit__author {
  font-size: 21px;
}

.cardcommit_message {
  font-weight: 500;
}
