.branches,
.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  background-color: #0d1117;
  overflow-x: hidden;
  overflow-y: auto;
}

.braches__title,
.page__title {
  width: 100%;
  max-width: 700px;
  margin-bottom: 50px;
  font-size: 21px;
  color: #fff;
}
